.b-test {
    background-color: red;
}

.b-linear {
    background: rgb(255,185,0);
    background: linear-gradient(0deg, rgba(255,185,0,1) 0%, rgba(238,0,208,1) 50%, rgba(111,20,255,1) 100%);
}

.b-light {
    background-color: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
}

.b-img {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.692);
}

.space {
    row-gap: 20px;
    column-gap: 20px;
}

.img-formater {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100px;
    height: 100px;
}

h1 {
    padding-left: 10px;
    margin-bottom: 20px;
    color: white;
}

p {
    margin-bottom: 50px;
}

a {
    position: absolute !important;
    bottom: 15px !important;
    color: rgb(108, 108, 108) !important;
}